.checkbox-custom {
  input[type="checkbox"] {
    opacity: 0;
    display: none;

    &:checked {
      &+label {
        color: @gray-dark;
        //font-weight: bold;

        &:after {
          border-color: @gray-dark;
        }

        &:before {
          font-family: "iconsfont";
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-style: normal;
          font-variant: normal;
          font-weight: normal;
          // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
          text-decoration: none;
          text-transform: none;
          content: '\E001';
          display: block;
          position: absolute;
          top: 2px;
          left: 2px;
          width: 12px;
          height: 12px;
          font-size: 12px;
          color: @gray-dark;
        }
      }
    }
  }

  label {
    padding-left: 23px;
    position: relative;
    cursor: pointer;
    color: @gray-lighter;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid @gray-lightest;
      border-radius: 2px;
    }

    &:hover {
      color: @gray-dark;
      //font-weight: bold;

      &:after {
        border-color: @gray-dark;
      }
    }
  }
}